body{
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #d1e5f4;
}

nav{
    background-color: #9abddc;
    overflow: hidden;
    padding: 10px;
    text-align: center;
}

nav a{
    color: black;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

nav a:hover {
    background-color: #f5fbff;
}

h1{
    padding: 20px;
}

.image-container{
    text-align: center;
}

.image-container img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.caption {
    font-style: italic;
    color: #555;
    margin-top: 10px;
}

ol{
    width: fit-content;
    margin: 0 auto;
    text-align: left;
    padding-left: 20px;
}

.roster-box {
    position: relative;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 20px;
    border: 2px solid #ccc;
    width: fit-content;
}

.video-box{
    background-color: #e8f0fe;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    width: fit-content;
    border: 1px solid #aaa;
}

.stats-box{
    background-color: #fffbe6;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    width: fit-content;
    border: 1px solid #aaa;
}